
<!DOCTYPE html>
<html>
  <head>
    
  

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body> 
    

 
        <main>
          <div class="container">
            
        
          <div class="xyz">
            <span id="srch">searching word</span>
            <input class="auto" type="text" name="" placeholder="">

           
            
            

          </div>
          
          

        
          <div class="box">
            <div class="row">
              <div class="col">
                <div class="boxA">
                  <label  for="Parts">POS :</label>
                    <br><br>
                <label  for="syn">Synset :</label>
                    <br><br>
                <label  for="lab">Gloss :</label>
                   <br><br>
          
                </div>

              </div>
              <div class="column-4">
                <div class="boxB">
                  <div class="container-1">
                    <h2>positive</h2>
                    
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                        
                      </div>
                     
                    </div>
                    
                  </div>
          
                  <div class="contA">
                    <h2>negative</h2>
          
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                      </div>
                    </div>
                  </div> 
          
                </div>

              </div>
            </div>
            
          
        
            </div> 
          </div> 
        </main>
    </body>
</html>

    